# Ignore virtual environments
.venv/
env/
__pycache__/
*.pyc

# Ignore data
data/
*.csv

# Ignore Jupyter/IPython checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore outputs
*.log
Tutorial - 1 (MLP).rar
PA1_ED22B048.zip
